@font-face{
    font-family: 'omikuji-title';
    src: url('/asserts/omikuji/font.otf');
}

#nav-brand {
    flex-shrink: 1;
    z-index: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#navbar {
    z-index: 2;
}

#omikuji-container {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.nav-header-active::after {
    display: block;
    content: "​";
    width: 1em;
    margin: 0 auto 0;
    height: 0.3em;
    background-color: var(--main-color);
    box-shadow: 0 0 7px var(--light-0),0 -5px 5px var(--light-1),0 -15px 15px var(--light-2),0 -25px 25px var(--light-3),0 -45px 45px var(--light-4);
}

.nav-header-active a {
    color: var(--main-color)!important;
    font-weight: bold;
}

.footer-row li {
    list-style: none outside none;
}

.footer-row h5 {
    font-weight: bold;
}

#main-carousel {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    #main-carousel {
        width: 750px;
        height: 422px;
    }
}

@media screen and (min-width: 992px) {
    #main-carousel {
        width: 970px;
        height: 546px;
    }
}

@media screen and (min-width: 1200px) {
    #main-carousel {
        width: 1170px;
        height: 658px;
    }
}

@media screen and (min-width: 767px) {
    /*PC version*/
    #horizontal-calender {
        display: table;
    }
    #vertical-calender {
        display: none;
    }
    .footer-links {
        display: flex;
        margin-bottom: 20px;
    }
    .footer-row {
        width: 20%;
    }
    .footer-row+.footer-row {
        margin-left: 15px;
    }
    .footer-row li {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 767px) {
    /*Mobile version*/
    #horizontal-calender {
        display: none;
    }
    #vertical-calender {
        display: table;
    }
    .blog-sidebar {
        width: 100%;
        max-width: 100%;
    }
    #nav-brand {
        max-width: calc(100% - 70px);
    }
    .footer-links {
        margin-bottom: 10px;
    }
    #omikuji-img {
        width: 100%;
    }
    #main-carousel {
        width: 100%;
    }
    #main-carousel h1 {
        font-size: 20px;
    }
}

.vertical-day {
    color: rgba(0,0,0,0.5);
}

.vertical-rest-day {
    color: var(--main-color);
}

.vertical-calender-item {
    display: inline-block;
    vertical-align: middle;
}

.vertical-calender-item .nav-icon {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

body {
    background-color: var(--main-color);
}

.nav-icon {
    min-width: 16px;
    min-height: 16px;
    margin-right: 2px;
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.icon-twitter {
    background: url("asserts/twitter.ico") no-repeat;
    background-size:cover;
    background-position: center center;
}

.icon-fanbox {
    background: url("asserts/fanbox.ico") no-repeat;
    background-size:cover;
    background-position: center center;
}

.icon-youtube {
    background: url("asserts/youtube.ico") no-repeat;
    background-size:cover;
    background-position: center center;
}

.icon-bilibili {
    background: url("asserts/bilibili.ico") no-repeat;
    background-size:cover;
    background-position: center center;
}

.main-content {
    padding-top: 10px;
    background-color: rgba(255, 255, 255, .9);
    min-height: 30vw;
}

.container .nav a {
    color: #0f0f0f;
}

ul {
    padding-inline-start: 20px;
}

.hitona-footer {
    padding-top: 15px;
    padding-bottom: 30px;
    color: #fff;
    text-align: left;
}

.bs-docs-footer-links li {
    display: inline-block;
}

.bs-docs-footer-links li+li {
    margin-left: 15px;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.song-post {
    margin-left: 15px;
    margin-right: 15px;
}

.main-content .navbar-default {
    background-color: rgba(255, 255, 255, 0);
}

.main-content .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(247, 191, 117, 0.5);
}

.main-content .container {
    text-align: left;
    text-shadow: none;
}

.main-content a {
    color: rgba(0, 0, 0, 1.0);
}

.sidebar-module h4 {
    color: var(--main-color);
}

#num-of-results {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    color: #70757a;
}
.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}

.hitona-banner .container {
    position: relative;
    align-content: center;
    height: 100%;
}

.hitona-links {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    max-width: 40%;
}

.alert-title-filling {
    height: 5px;
}

.hitona-links button {
    vertical-align: middle;
    display: inline-block;
    background-color: rgba(0, 0, 0, .3);
    color: rgba(255, 255, 255, 1.0);
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: 5px;
    margin-right: 5px;
}

.hitona-links button span {
    display: inline-block;
    vertical-align: middle;
}

.hitona-links button div {
    float: left;
    size: 16px 16px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

#calender-days .nav-icon {
    display: inline-block;
}

#month-selector {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#month-selector .dropdown {
    display: inline-block;
}

#calender-head th {
    text-align: center;
    width: 14%;
}

#p-live-list-date {
    display: inline-block;
}

#p-live-list-date a {
    display: inline-block;
    vertical-align: middle;
}

#p-date-selector-content div {
    float: left;
    margin-right: 5px;
}

#p-live-list-date a span {
    display: inline-block;
    vertical-align: middle;
}

#p-live-list-date div {
    float: right;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: var(--main-color);
}

.one-line div {
    display: inline-block;
    vertical-align: middle;
}

.clickable-header {
    cursor: pointer;
}

.float-to-right {
    float: right;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.search-border {
    background-color: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 10px 10px 10px 10px;
    width: auto;
}

.search-text-box {
    margin: auto 15px auto 0;
    padding-left: 8px;
    box-shadow: none!important;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-icon {
    color: #9aa0a6;
    display: block;
    width: 24px;
    line-height: 24px;
    margin-left: 14px;
}

.search-icon path {
    color: #9aa0a6;
    fill: currentColor;
    line-height: 24px;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: var(--main-color);
}

#chart-area {
    max-width: 320px;
    margin: 7px auto;
}

.no-horizontal-margin {
    margin-left: 0;
    margin-right: 0;
}

#p-content nav {
    margin: 7px;
}

.time-row {
    display: flex;
    vertical-align: middle;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    max-height: 100%;
}

#main-carousel {
    margin-bottom: 15px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    /*object-fit: cover;*/
    object-fit: contain;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
    text-align: left;
    width: 100%;
    left: 0;
    bottom: 0;
}

.carousel-caption .carousel-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

.banner-img-cover {
    height: 100%;
    max-height: 100%;
}

.carousel-text {
    width: 100%;
}